@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
    --primary: #caa8a8;
    --secondary: #42666d;
    --accent: #fc0303;
    --background: #070404;
    --text: #f0e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: var(--text);
}

body{
    background-color: var(--background);
}

hr {
    border-top: 1px solid var(--secondary);
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/*
 *  Navbar
*/
.sidenav {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0x;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.user {
    width: 110px;
    height: 100%;
    transition: width 0.5s;
}

.user .navbar {
    width: 60px;
    height: 100%;
}

.user .navbar-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
    backdrop-filter: blur(13px);
}

.logo {
    width: 60px;
    height: 60px;
    white-space: nowrap;
}

.logo_span {
    color: var(--accent);
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li p {
    white-space: nowrap;
    display: none;
}

ul li a {
    color: var(--text);
}


.user:hover {
    width: 250px;
}

.user:hover .navbar-nav {
    overflow: visible;
}

.user:hover .navbar {
    width: 100%;
}

.user:hover p {
    display: block;
}

/*
 * End of navbar
*/

/*
 * Hero
*/

.hero {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-left: 5%;
}

.hero_span{
    color: var(--accent);
}

.hero_img{
    max-width: 100%;
    height: auto;
}

/*
 * End of Hero
*/

/*
 * About me
*/

.about-me {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/bg/bg_grd_wave.jpg');
    margin-left: 5%;
}

.about_me_img{
    max-width: 100%;
    height: auto;
}

/*
*  End of About me
*/

/*
* Projects
*/

.projects {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    margin-left: 5%;
}

.projects .row{
    background-color: var(--background);
}

/*
* End of Projects
*/

/*
* Services
*/

.services {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(66,102,109,1) 0%, rgba(7,4,4,1) 100%);
    margin-left: 5%;
}

.services .card{
    background-color: var(--background);
}

/*
* End of Services
*/

/*
* Contacts
*/

.contacts {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    margin-left: 5%;
}

.contacts .card{
    background-color: var(--background);
}

/*
* End of Contacts
*/

/*
* Footer
*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

/*
* End of Footer
*/